# Ignore test mains
*-main.c

# Ignore compiled binaries/executables
*.o
*.out
*.exe
*_strcat
*_strncat
*_strncpy
*_strcmp
*_rev_array
*_string_toupper
*_cap
*_print_numbers
*_isdigit
*_mul
*_print_most_numbers
*_more_numbers
*_print_line
*_print_diagonal
*_print_square
*_fizz_buzz
*_print_triangle

# Ignore general compiled files
a.out
*.swp
*.swo
pointers_arrays_strings/0-strcat
pointers_arrays_strings/1-strncat
pointers_arrays_strings/2-strncpy
pointers_arrays_strings/3-strcmp
pointers_arrays_strings/4-rev_array
pointers_arrays_strings/5-string_toupper
pointers_arrays_strings/6-cap
